<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Aréa Administradora de Usuários</h1>


<h3>Criar Novo Usuário</h3>
<form action="/admin/usuarios" method="POST">
    <label>Nome:</label>
    <input type="text" name="nomeUsuario" required><br>
    <label>Login:</label>
    <input type="text" name="loginUsuario" required><br>
    <label>Senha:</label>
    <input type="password" name="senhaUsuario" required><br>
    <label>Email:</label>
    <input type="text" name="emailUsuario" required><br>

    <button type="submit">Cadastrar</button>
</form>

<h3>Excluir Usuário</h3>

<form action="/admin/ususarios" method="POST">
    <label>Email:</label>
    <input type="text" name="emailUsuario" required><br>
    <button type="submit">Remover Usuário</button>
</form><br>

<a href="{{ url_for('area_admin') }}">Aréa Admin</a><br>
</body>
</html>