<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Aréa Administradora de Usuários</h1>


<h3>Criar Novo Usuário</h3>
<form action="/cadastrar" method="POST"> <label>Nome:</label>
    <input type="text" name="nome" required><br>
    
    <label>Email:</label>
    <input type="email" name="email" required><br>
    
    <label>Login:</label>
    <input type="text" name="login" required><br>
    
    <label>Senha:</label>
    <input type="password" name="senha" required><br>

    <button type="submit">Cadastrar</button>
</form>

<h3>Excluir Usuário</h3>

<form action="/admin/usuarios/remover" method="POST">
    <label>Email:</label>
    <input type="text" name="emailRemover" required><br>
    <button type="submit">Remover Usuário</button>
</form><br>

<a href="{{ url_for('area_admin') }}">Aréa Admin</a><br>
<a href="/" class="btn-vermelho">Voltar para página Principal</a>
</body>
</html>