<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resultado do seu Quiz</h1>

         <h3>Pontuação do se Teste no QuizRush</h3>
    <p>Aluno: <strong>{{ nome }}</strong></p>
    
    <div style="padding: 20px; border: 1px solid #ccc;">
        <h2>Sua nota final foi:</h2>
        <h1 style="color: blue;">{{ nota }}</h1>
    </div>


<a href="{{ url_for('area_aluno') }}">Area Aluno</a><br>
<a href="/">Voltar para página Principal</a><br>

</body>
</html>