<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Realizar Teste - Aluno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Teste de Múltipla Escolha</h1>

<div class="container">
        <h1>Hora do Quiz!</h1>

        <form action="/aluno/corrigir_teste" method="POST">
            {% for q in lista_questoes %}
            <div style="text-align: left; margin-bottom: 30px;">
                <h3>{{ loop.index }}. {{ q[1] }}</h3>
                
                <label class="opcao-bloco">
                    <input type="radio" name="resposta_{{ q[0] }}" value="A" required> A) {{ q[2] }}
                </label>
                <label class="opcao-bloco">
                    <input type="radio" name="resposta_{{ q[0] }}" value="B"> B) {{ q[3] }}
                </label>
                <label class="opcao-bloco">
                    <input type="radio" name="resposta_{{ q[0] }}" value="C"> C) {{ q[4] }}
                </label>
                <label class="opcao-bloco">
                    <input type="radio" name="resposta_{{ q[0] }}" value="D"> D) {{ q[5] }}
                </label>
            </div>
            <hr>
            {% endfor %}

            <button type="submit">Finalizar e Ver Nota</button>
        </form>
    </div>
</body>
</html>