<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Quiz Online - Aluno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div id="cronometro-container" style="position: sticky; top: 10px; background: #cf8000; color: #fff; padding: 15px; border-radius: 10px; text-align: center; font-size: 1.5em; z-index: 1000;">
    Tempo restante: <span id="tempo">10:00</span>
    </div>
</div>

<div class="container">
    <h1>QuizRush</h1>

    {% if lista_questoes %}
        <form id="formQuiz" action="/aluno/corrigir_teste" method="POST">
            
            {% for q in lista_questoes %}
            <div class="questao-card" style="margin-bottom: 30px; text-align: left;">
                
                <h3 class="enunciado-estilo">{{ loop.index }}. {{ q[1] }}</h3>

                <label class="opcao-bloco">
                    <input type="radio" name="resposta_{{ q[0] }}" value="A" required> 
                    <strong>A)</strong> {{ q[2] }}
                </label>

                <label class="opcao-bloco">
                    <input type="radio" name="resposta_{{ q[0] }}" value="B"> 
                    <strong>B)</strong> {{ q[3] }}
                </label>

                <label class="opcao-bloco">
                    <input type="radio" name="resposta_{{ q[0] }}" value="C"> 
                    <strong>C)</strong> {{ q[4] }}
                </label>

                <label class="opcao-bloco">
                    <input type="radio" name="resposta_{{ q[0] }}" value="D"> 
                    <strong>D)</strong> {{ q[5] }}
                </label>
            </div>
            <hr>
            {% endfor %}

            <button type="submit" class="btn-verde">Finalizar Teste</button>
        </form>

    {% else %}
        <div class="alerta">
            <p>Ainda não existem questões cadastradas pelo professor.</p>
            <a href="/" class="btn-vermelho">Voltar</a>
        </div>
    {% endif %}
</div>


<script>
    // Tempo para teste: 5 segundos. Depois mude para 10 * 60
    let tempoEmSegundos = 30; 

    const display = document.querySelector('#tempo');

    const cronometro = setInterval(function () {
        let minutos = Math.floor(tempoEmSegundos / 60);
        let segundos = tempoEmSegundos % 60;

        display.textContent = (minutos < 10 ? '0' : '') + minutos + ":" + (segundos < 10 ? '0' : '') + segundos;

    if (tempoEmSegundos <= 0) {
        clearInterval(cronometro);
        
        // Busca o formulário pelo ID correto agora que as aspas estão certas
        const meuForm = document.getElementById('formQuiz');
        
        if (meuForm) {
            alert("O tempo acabou! Enviando respostas...");
            meuForm.submit();
        } else {
            // Fallback caso o ID falhe por algum motivo
            document.forms[0].submit();
        }
    }

        tempoEmSegundos--;
    }, 1000);
</script>
</body>
</html>