<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>QuizRush A Melhor Plataforma De Quiz Online</h1>

<h3>Faça Já O Seu Login</h3>
<form action="/autenticar" method="POST">
        <label>Login:</label>
        <input type="text" name="loginUsuario" required><br>
        <label>Senha:</label>
        <input type="password" name="senhaUsuario" required><br>
        <button type="submit">Logar</button>
    </form>



</body>
</html>