<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Relatório de Notas - RF6</h1>

    {% if resultados %}
    <table>
        <thead>
            <tr>
                <th>Email do Aluno</th>
                <th>Nota Final</th>
                <th>Data e Hora da Entrega</th>
            </tr>
        </thead>
        <tbody>
            {% for r in resultados %}
            <tr>
                <td>{{ r[0] }}</td> <td><strong>{{ r[1] }}</strong></td> <td>{{ r[2] }}</td> </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Ainda nenhum aluno realizou o teste.</p>
    {% endif %}

<a href="{{ url_for('area_professor') }}">Area Professor</a><br>
</body>
</html>