<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Gerencie os seus Testes Quizzes</h1>

<a href="{{ url_for('professor_criar_questao') }}">Monte as Questões do Seu QuizRush</a><br>


<a href="{{ url_for('professor_resultado') }}">Veja o Resultado dos Quizzes</a><br>

<a href="/">Voltar para página Principal</a>
</body>
</html>